body {
  background: beige;
  font-family: sans-serif;
}

table {
  width: 100%;
}

td, th {
  border: black 1px solid;
  padding: 5px;
}

th {
  background: brown;
  color: white;
  font-weight: bold;
}

.error {
  color: red;
}

.expressionCanonicalText {
  width: 35%;
}

.expressionText {
  width: 15%;
}

.expressionResultText {
  width: 35%;
}

.expressionResultValue {
  width: 10%;
}

.expressionResultsActions {
  width: 5%;
}

